@model FIT5120___VicEnerG.Models.Calculator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Calculator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.efficiency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.efficiency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.energy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.energy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.performanceRatio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.performanceRatio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.radiation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.radiation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.systemSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.systemSize)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
