@model IEnumerable<FIT5120___VicEnerG.Models.Calculator>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.efficiency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.energy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.performanceRatio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.radiation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.systemSize)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.efficiency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.energy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.performanceRatio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.radiation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.systemSize)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
