@model FIT5120___VicEnerG.ViewModels.CarbonViewModel

@{
    ViewBag.Title = "Calculate Carbon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <div class="Calculator-Content">
        <h2>Calculate Carbon</h2>
    </div>

    <!-- Information input form-->
    <div class="row">
        <div class="Calculator-Content Input">
            <h3>Information Entry</h3>
            <br>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Postcode, new { HtmlAttributes = new { @class = "form-control", @Value = Model.Postcode } })
                            @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger col-md-12" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NumberPanels, "Number of Panels", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.NumberPanels, new { HtmlAttributes = new { @class = "form-control", @Value = Model.NumberPanels } })
                            @Html.ValidationMessageFor(model => model.NumberPanels, "", new { @class = "text-danger col-md-12" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" class="btn btn-primary" value="Calculate" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="Calculator-Content CarbonDescription">
            <h3>Carbon Dioxide Emissions</h3>
            <h4>The approxiamted Carbon Dioxide that will be saved in a year are:</h4>
            <div class="result">
                @Model.CO2 <p>metric tons CO2/kWh</p>
            </div>
            <p>*According to the department of Environment, Land and water of Australia. The co-efficient between electricity and CO2 is: </p>
            <p2>1kWh = 1.13kg CO2-e/kWh</p2>
        </div>

        <div class="Calculator-Content CarbonDailyLives">
            <h3>What does it mean?</h3> <br>
            <p>blahblahblahblahblah</p>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2 col-md-6">
                    Light @Model.LightVehicle
                </div>
                <div class="col-lg-2 col-md-6">
                    Heavy @Model.HeavyVehicle
                </div>
                <div class="col-lg-2 col-md-6">
                    Gasoline @Model.Gallons
                </div>
                <div class="col-lg-2 col-md-6">
                    Phone @Model.PhoneCharges
                </div>
                <div class="col-lg-2 col-md-6">
                    Trees @Model.AbsorbHours
                </div>
            </div>
            <p>*According to the department of Environment, Land and water of Australia. The co-efficient between electricity and CO2 is: </p>
            <p2>1kWh = 1.13kg CO2-e/kWh</p2>
        </div>

        <div class="Calculator-Content Contribution">
            <h3>Your Contribution</h3> <br>
            <p>Pie chart show comparsion with suburb</p>
            <p>Pie chart show comparsion with Victoria</p>
        </div>
    </div>
</div>

