@model FIT5120___VicEnerG.ViewModels.CarbonViewModel

@{
    ViewBag.Title = "Carbon Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <div class="container" id="carbon_info">
        <hr>
        <h3 class="heading">Carbon Footprint Calculator</h3>
    </div>

    <!-- Information input form-->
    <div class="row">

        <div class="Calculator-Content Carbon-Calculator par" id="carbon_info">
            <h3>What Does Carbon Calculator Do?</h3>
            <br>
            <div class="general">
                <p>
                    By inputting the postcode and the estimated number of solar panels installed in the Information Entry session,
                    the Carbon footprint calculator will calculate the estimated Carbon Dioxide emission of given kilowatt-hours of elecrticity.
                    Beside showing you the data, the calculator will show you how this data impacts your daily lives by showing the usage of few related components.
                    At the end of the page, you will see the CO2 reduction contribution of your estimated solar system to your selected postcode and to Victoria as well
                </p> <br>
                <a href="~/Home/CarbonInfo" target="_blank">Know more about Carbon Footprint Information</a>
            </div>
        </div>
        <div class="Calculator-Content Carbon-Calculator Input par" id="carbon_input">
            <h3>Information Entry</h3>
            <br>
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-6 text-center">
                            @Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label" })
                            @if (Model.Postcode == 0) {
                                @Html.TextBox("Postcode", "", new { placeholder = "xxxx", HtmlAttributes = new { @class = "form-control" } })
                            }
                            else {
                                @Html.TextBoxFor(model => model.Postcode, new { HtmlAttributes = new { @class = "form-control", @Value = Model.Postcode } })
                            }
                            @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger  col-md-12" })
                        </div>
                        <div class="col-md-6 text-center">
                            @Html.LabelFor(model => model.NumberPanels, "Number of Panels", htmlAttributes: new { @class = "control-label" })
                            @if (Model.NumberPanels == 0) {
                                @Html.TextBox("NumberPanels", "", new { placeholder = "x", HtmlAttributes = new { @class = "form-control" } })
                            }
                            else {
                                @Html.TextBoxFor(model => model.NumberPanels, new { HtmlAttributes = new { @class = "form-control", @Value = Model.NumberPanels } })
                            }
                            @Html.ValidationMessageFor(model => model.NumberPanels, "", new { @class = "text-danger  col-md-12" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-8">
                            <input type="submit" class="btn btn-primary" value="Calculate" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="Calculator-Content Carbon-Calculator CarbonDescription par" id="carbon_emission">
            <h3>Carbon Dioxide Emissions</h3>
            <h4>The <b>Annual</b> Carbon Dioxide Emission reduction will be:</h4>
            <div class="result-carbon">
                @Model.CO2 <p>metric tons CO2/kWh</p>
            </div>
            <p>*The number means the amount of Carbon Dioxide you have reduced by using solar panels in one year </p>
            <p>*According to the department of Environment, Land and water of Australia. The formular to convert electricity to Carbon Dioxide is: </p>
            <p2>1kWh = 1.13kg CO2-e/kWh</p2>
        </div>

        <div class="Calculator-Content Carbon-Calculator CarbonDailyLives" id="carbon_mean">
            <h3>What Does It Mean?</h3> <br>
            <div class="row">
                <div class="col-xs-2 Component">
                    <span class="dot"></span>
                    <div class="content">
                        <p>The average carbon emissions intensity for passenger cars and light SUVs was 149.5 g/km.</p>
                    </div>
                    <img src="~/images/carbonIcon/Light.png" class="icon" />
                    <p2>@Model.LightVehicle km</p2>
                    <p3>of passenger vehicles driven.</p3>
                </div>
                <div class="col-xs-2 Component">
                    <span class="dot"></span>
                    <div class="content">
                        <p>The average carbon emissions intensity of heavy SUVs and light commercial vehicles was 216.7 g/km</p>
                    </div>
                    <img src="~/images/carbonIcon/Heavy.png" class="icon" />
                    <p2>@Model.HeavyVehicle km</p2>
                    <p3>of heavy vehicles driven.</p3>
                </div>
                <div class="col-xs-2 Component">
                    <span class="dot"></span>
                    <div class="content">
                        <p>The average carbon emissions of gasoline consumed was 8,887 g/gallon. Each gallon is equvilent to 3.78 liters</p>
                    </div>
                    <img src="~/images/carbonIcon/Gasoline.png" class="icon" />
                    <p2>@Model.Gasoline liters</p2>
                    <p3>of gasoline consumed.</p3>
                </div>
                <div class="col-xs-2 Component">
                    <span class="dot"></span>
                    <div class="content">
                        <p>The average carbon emissions of a mobile was 16.7kg/year through usage and charging</p>
                    </div>
                    <img src="~/images/carbonIcon/Phone_Charge.png" class="icon">
                    <p2>@Model.PhoneCharges times</p2>
                    <p3>of fully charged smartphones.</p3>
                </div>
                <div class="col-xs-2 Component">
                    <span class="dot"></span>
                    <div class="content">
                        <p>There are more than 70,000 trees in the city of Melbourne and each tree can absorb 2.49g/hour of carbon dioxide</p>
                    </div>
                    <img src="~/images/carbonIcon/Trees.png" class="icon" />
                    <p2>@Model.AbsorbHours hours</p2>
                    <p3>for Trees in the City of Melbourne to absorbs.</p3>
                </div>
            </div>

        </div>

        <div class="Calculator-Content Carbon-Calculator Contribution par" id="carbon_contribution">
            <h3>Carbon Footprint Reduction Contribution</h3> <br>
            <p>The following pie chart will show how much Carbon Dioxide Emission you have reduced in your suburb and Victoria by using <b>Solar panels</b>.</p>
            <br>
            <div class="Calculator-Content Charts">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel-body">
                            <canvas id="Pie_suburb" height="150"></canvas>
                        </div>
                        <div id="suburbtips" style="display:none">
                            <br>
                            <ul>
                                @{ if (Model.SuburbTotalCO2 == 0) {
                                        <li><p>Sorry, There is no solar panels records in the given postcode</p></li>
                                        <li><p>We assume you are the only one who install solar panels in your suburb</p></li>
                                    }
                                    else {
                                        <li><p>The <b>annual</b> CO2 reduction of your suburb will be: <b id="suburbtotal"></b> metric tons CO2/kWh.</p></li>
                                        <li><p>You have contributed <b>@Model.CO2</b> metric tons CO2/kWh, which is <b id="YPIS"></b>% of the total.</p></li>
                                        <li><p>Your suburb have contributed <b>@Model.SuburbTotalCO2</b> metric tons CO2/kWh, which is <b id="SPIS"></b>% of the total.</p></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-body">
                            <canvas id="Pie_state" height="150"></canvas>
                        </div>
                        <div id="statetips" style="display:none">
                            <br>
                            <ul>
                                <li><p>The <b>average monthly</b> CO2 reduction of Victoria will be: <b id="statetotal"></b> metric tons CO2/kWh.</p></li>
                                <li><p>You have contributed <b>@Model.CO2</b> metric tons CO2/kWh, which is <b id="YPS"></b>% of the total.</p></li>
                                <li><p>Victoria have contributed <b>@Model.StateMonthlyCO2</b> metric tons CO2/kWh, which is <b id="SPS"></b>% of the total.</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Carbon Emission Calculate

    <div class="Calculator-Content Carbon-Calculator abouttopleft par">
        <h3>Water xxxxx</h3>
        <h4>
            xxxxx
        </h4>
        <br>
        <br>
        <br>
        <a class="btn btn-primary btn-lg btn-block btn-water-redirect" href="~/Carbon/CalculateCarbon" role="button" id="water_calculator">Try Our Water Calculator Now (fix redirect)</a>

    </div>-->
    </div>
    </div>
        <!-- Side Dotted Navigation Bar Start -->
        <div class="vNav carbon-side-nav">
            <ul class="vNav carbon-side-nav">
                <li>
                    <a href="#carbon_input">
                        <div class="label">Information Entry</div>
                    </a>
                </li>
                <li>
                    <a href="#carbon_mean">
                        <div class="label">What does it mean</div>
                    </a>
                </li>
                <li>
                    <a href="#carbon_contribution">
                        <div class="label">Carbon Reduction Contribution</div>
                    </a>
                </li>
                <li>
                    <a href="#water_calculator">
                        <div class="label">Water Usage Calculator</div>
                    </a>
                </li>
            </ul>
        </div>


        @section scripts{
            @Scripts.Render("~/bundles/chartjs")
            @Scripts.Render("~/bundles/chartjsLabel")
            <script>
        $(document).ready(function () {
            var SuburbTotalCO2 = @Html.Raw(Json.Encode(Model.SuburbTotalCO2));
            var VictoriaTotalCO2 = @Html.Raw(Json.Encode(Model.StateMonthlyCO2));
            var YourCO2 = @Html.Raw(Json.Encode(Model.CO2));
            function chartinitialize() {
                // Display the pie chart by the element ID
                var Pie_suburb_display = $("#Pie_suburb");
                var Pie_state_display = $("#Pie_state");
                // Initial pie feature
                Pie_suburb = new Chart(Pie_suburb_display, {
                    type: 'pie',
                    data: {
                        labels: ["You", "Your Suburb"],
                        datasets: []
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: "In your Subrurb",
                            fontSize: 18
                        },
                        tooltips: {
                            enabled: true
                        },
                        plugins: {
                            labels: {
                                render: 'percentage',
                                fontColor: 'black',
                                precision: 2
                            }
                        }
                    }
                });
                // Initial pie feature
                Pie_state = new Chart(Pie_state_display, {
                    type: 'pie',
                    data: {
                        labels: ["You", "Victoria"],
                        datasets: []
                    },
                    options: {
                        responsive:true,
                        title: {
                            display: true,
                            text: "In Victoria",
                            fontSize: 18
                        },
                        tooltips: {
                            enabled: true
                        },
                        plugins: {
                            labels: {
                                render: 'percentage',
                                fontColor: 'black',
                                precision: 2
                            }
                        },
                    }
                });
            };

            function InputData() {
            var suburbDataSet = {
                data: [YourCO2, SuburbTotalCO2],
                labels: ["You", "Your Suburb"],
                backgroundColor: ["rgba(127,255,0,.5)", "rgb(255, 99, 132)"],
                hoverOffset: 4
            };
            var stateDataSet = {
                data: [YourCO2, VictoriaTotalCO2],
                labels: ["You", "Victoria"],
                backgroundColor: ["rgba(127,255,0,.5)", "rgb(255, 99, 132)"],
                hoverOffset: 4
                };
            document.getElementById("suburbtips").style.display = "block";
            document.getElementById("statetips").style.display = "block";
            Pie_suburb.data.datasets.push(suburbDataSet);
            Pie_state.data.datasets.push(stateDataSet);
            Pie_suburb.update();
            Pie_state.update();

            };

            var YouPercentageInSuburb = (YourCO2 / (SuburbTotalCO2 + YourCO2) * 100).toFixed(2);
            var SuburbPercentageInSuburb = (SuburbTotalCO2 / (SuburbTotalCO2 + YourCO2) * 100).toFixed(2);
            var YouPercentageInState = (YourCO2 / (VictoriaTotalCO2 + YourCO2) * 100).toFixed(2);
            var StatePercentageInState = (VictoriaTotalCO2 / (VictoriaTotalCO2 + YourCO2) * 100).toFixed(2);

            document.getElementById("suburbtotal").innerHTML = SuburbTotalCO2 + YourCO2;
            document.getElementById("statetotal").innerHTML = VictoriaTotalCO2+ YourCO2;
            document.getElementById("YPIS").innerHTML = YouPercentageInSuburb;
            document.getElementById("SPIS").innerHTML = SuburbPercentageInSuburb;
            document.getElementById("YPS").innerHTML = YouPercentageInState;
            document.getElementById("SPS").innerHTML = StatePercentageInState;


            chartinitialize();
            InputData();
        });
            </script>
        }
