@model FIT5120___VicEnerG.ViewModels.CalculatorViewModel
@{
    ViewBag.Title = "CalculateOutput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Solar Output Calculator</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Postcode, new { HtmlAttributes = new { @class = "form-control", @Value = Model.Postcode } })
                @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberPanels, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NumberPanels, new { HtmlAttributes = new { @class = "form-control" , @Value = Model.NumberPanels } })
                @Html.ValidationMessageFor(model => model.NumberPanels, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md0offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Calculate"/>
            </div>
        </div>
    </div>
}
@{
    if (Model.Station != null)
    {
        <p> The monthly elecrticity outputs for postcode @Model.Postcode with @Model.NumberPanels solar panel(s) are list below: </p>
        <table>
            <tr>
                <th></th>
                @foreach (string Output in ViewBag.Month)
                {
                    <th>@Output</th>
                }
            </tr>
            <tr>
                <td>Electricity Output(kWh)</td>
                @foreach (double Output in Model.OutputList)
                {
                    <td>@Output</td>
                }
            </tr>
        </table>

        <p> The annual output of @Model.Postcode is @Model.AnnualOutput  kwh</p>
        <p> The data is collect by the station called @Model.Station.stationName with Station ID @Model.Station.stationNumber</p>

    }
}




