@model FIT5120___VicEnerG.ViewModels.CalculatorViewModel
@{
    ViewBag.Title = "CalculateOutput";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!--FlexSlider-->
<link rel="stylesheet" href="~/AboutRes/css/flexslider.css" type="text/css" media="screen" />
<!--//FlexSlider-->

<link href="~/AboutRes/css/lsb.css" rel="stylesheet" type="text/css"><!-- gallery -->
<!-- custom css theme files -->
<link rel="stylesheet" href="~/AboutRes/css/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" href="~/AboutRes/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/AboutRes/css/style.css" type="text/css" media="all">
<!-- //custom css theme files -->
<!-- google fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->
<!-- banner -->
<div class="w3l-banner">
    <div class="wthree-dot">
        <!-- nav -->
        <div class="header w3layouts">
            <div class="container-fluid">
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="index.html"><span>Solar</span> Energy</a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav>
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="~/Home/Index">Home</a></li>
                                <li><a href="~/Home/About">Introduction</a></li>
                                <li><a href="~/Calculator/CalculateOutput">Calculator</a></li>
                            </ul>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //nav -->
        <!-- //Header -->
    </div>
</div>
<!-- //banner -->
<!-- Calculator feature page display starts here! -->
<div class="container body-content">
    <div class="Calculator-Content">
        <h2>Solar Output Calculator</h2>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="Calculator-Content TOC">
                <h3>Page Contents</h3>
                <a href="#DataInput"><ol>Information Entry</ol></a>
                <div id="hidden-content">
                    <a href="#OutputResult"><ol>Electricity Output</ol></a>
                    <a href="#CarbonInformation"><ol>Carbon Dioxide Emission</ol></a>
                    <a href="#ApplianceUsage"><ol>Appliances extra usages</ol></a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="Calculator-Content Content">
                <!-- Annotation & input form-->
                <div class="row" id="DataInput">
                    <!-- Annotation section-->
                    <div class="col-md-6">
                        <div class="Calculator-Content Annotation">
                            <p>
                                By putting the postcode and estimated number of solar panels,
                                our system can calculate the estimated solar output for 12 months of
                                given postcode and number of panels
                            </p>
                            <p>There are few limitation in our calculator:</p>
                            <ol>
                                <li><p>Maximum 10 solar panels can be used in the estimation</p></li>
                                <li><p>The system only accept postcodes in Victoria (3000-3999)</p></li>
                                <li><p>The estimated output is not consider about shading and angles of the panel</p></li>
                            </ol>
                        </div>
                    </div>
                    <!-- Information input form-->
                    <div class="col-md-6">
                        <div class="Calculator-Content Input">
                            <h3>Information Entry</h3>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Postcode, new { HtmlAttributes = new { @class = "form-control", @Value = Model.Postcode } })
                                            @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger col-md-12" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NumberPanels, "Number of Panels", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.NumberPanels, new { HtmlAttributes = new { @class = "form-control", @Value = Model.NumberPanels } })
                                            @Html.ValidationMessageFor(model => model.NumberPanels, "", new { @class = "text-danger col-md-12" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-4 col-md-8">
                                            <input type="submit" class="btn btn-primary" value="Calculate" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                @{
                    if (Model.Station != null)
                    {
                        <div class="Calculator-Content OutputDescription" id="OutputResult">
                            <h3>Electricity Output</h3>
                            <h4>The annual electricity output for <p2>@Model.Postcode</p2> with <p2>@Model.NumberPanels</p2> solar panel(s)</h4><br>
                            <div class="result">
                                @Model.AnnualOutput kWh
                            </div>

                            <p>*The radiation data is collected from the station called @Model.Station.stationName with Station ID @Model.Station.stationNumber</p>
                            <p>*The Solar output is followed by the formular:  <p2>E = A * r * H * PR</p2></p>
                            <ul>
                                <li><p>E = Energy (kWh)</p></li>
                                <li><p>A = Total solar panel Area (In this calculator is 1.6m2)</p></li>
                                <li><p>r = Solar panel yield or efficiency(In this calcualtor is 15.6%)</p></li>
                                <li><p>H = solar radiation data collected from stations (shadings not included)</p></li>
                                <li><p>PR = Performance ratio, coefficient for losses (In this calcualtor is 75%)</p></li>
                            </ul>


                            <hr>
                            <table>
                                <tr>
                                    <th></th>
                                    @foreach (string Output in ViewBag.Month)
                                    {
                                        <th>@Output</th>
                                    }
                                </tr>
                                <tr>
                                    <td>Electricity Output(kWh)</td>
                                    @foreach (double Output in Model.OutputList)
                                    {
                                        <td>@Output</td>
                                    }
                                </tr>
                            </table>
                        </div>


                        <div class="Calculator-Content OutputChart">
                            <div class="panel-body">
                                <canvas id="bar_chart" height="200"></canvas>
                            </div>
                        </div>

                        <div class="Calculator-Content CarbonDescription" id="CarbonInformation">
                            <h3>Carbon Dioxide Emissions</h3>
                            <h4>The Carbon Dioxide equivalent Emissions</h4>
                            <div class="result">
                                @Model.CO2 kg/kWh
                            </div>
                            <p>*According to the department of Environment, Land and water of Australia. The co-efficient between electricity and CO2 is: </p>
                            <p2>1kWh = 1.13kg CO2-e/kWh</p2>
                        </div>



                        <div class="Calculator-Content ApplianceUsage" id="ApplianceUsage">
                            <h3>Appliance Extra hours usage</h3>
                            <br><p>Please selete one of the appliance from the list to see its extra hours usage</p>
                            @Html.DropDownList("ApplianceList",
                             new SelectList(Model.Extrahours.Keys.ToList()),
                             "Choose Appliance",
                             new { @onchange = "Showgraph()" })

                            <div id="hidden_div">
                                <div class="Calculator-Content ApplianceChart">
                                    <div class="panel-body">
                                        <canvas id="line_chart" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- Calculator feature page display ends here! -->

<script type="text/javascript" src="~/AboutRes/js/jquery-2.1.4.min.js"></script>
@section scripts{
    @Scripts.Render("~/bundles/chartjs")
    <script>
        $(document).ready(function () {
            var check = @Model.Postcode
            if (check != 0) {
                document.getElementById("hidden-content").style.display = 'block';
            } else {
                document.getElementById("hidden-content").style.display = 'none';
            }
            initbarchart();
        });

        $('#ApplianceList').on('change', function () { Showgraph() });

    function Showgraph() {
        var ApplianceName = document.getElementById("ApplianceList").value;
        if (ApplianceName == "") {
            document.getElementById("hidden_div").style.display = 'none';
        } else {
            document.getElementById("hidden_div").style.display = 'block';
        }
            var DicKey= @Html.Raw(Json.Encode(Model.Extrahours.Keys.ToList()));
            var DicValue = @Html.Raw(Json.Encode(Model.Extrahours.Values.ToList()));
            var MonthArray = @Html.Raw(Json.Encode(ViewBag.Month));
            var ListData = []

            for (let i = 0; i < DicKey.length; i++) {
                if (DicKey[i] == ApplianceName) {
                    ListData = DicValue[i];
                }
            }
            var ctx = $("#line_chart");
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: MonthArray,
                    datasets: [{
                        label: "hours",
                        fill: false,
                        data: ListData,
                        backgroundColor: "rgba(0,0,255,.5)",
                        borderColor: "rgb(0,0,255)"
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: "Extra hours for " + ApplianceName
                    },
                    legend:
                    {
                        display: false,
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                //suggestedMin: 0
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

        function initbarchart() {

            var MonthArray = @Html.Raw(Json.Encode(ViewBag.Month));
            var Output = @Html.Raw(Json.Encode(Model.OutputList));

            var ctx = $("#bar_chart");
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: MonthArray,
                    datasets: [{
                        label: "Electricity Output",
                        data: Output,
                        backgroundColor: "rgba(127,255,0,.5)",
                        borderColor: "rgb(127,255,0)",
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Electricity Output (kWh)"
                    },
                    legend:
                    {
                        display: false,
                    }
                }
            });
        }
    </script>
}

<!-- Default-JavaScript-File -->

<script type="text/javascript" src="~/AboutRes/js/bootstrap.min.js"></script>
<!-- //Default-JavaScript-File -->
<!--Start-slider-script-->
<script defer src="~/AboutRes/js/jquery.flexisel.js"></script>
<script type="text/javascript">

    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!--End-slider-script-->
<!-- testimonials required-js-files-->
<link href="~/AboutRes/css/owl.carousel.css" rel="stylesheet">
<script src="~/AboutRes/js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            items: 1,
            lazyLoad: true,
            autoPlay: true,
            navigation: false,
            navigationText: false,
            pagination: true,
        });
    });
</script>
<!--// testimonials required-js-files-->
<!-- flexisel -->
<script type="text/javascript">
    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 2
                }
            }
        });

    });
</script>
<script type="text/javascript" src="~/AboutRes/js/jquery.flexslider.js"></script>
<!-- //flexisel -->
<!-- gallery-pop-up -->
<script src="~/AboutRes/js/lsb.min.js"></script>
<script>
    $(window).load(function () {
        $.fn.lightspeedBox();
    });
</script>
<!-- //gallery-pop-up -->
<!-- smooth scrolling -->
<script src="~/AboutRes/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="~/AboutRes/js/move-top.js"></script>
<script type="text/javascript" src="~/AboutRes/js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->
<!-- scrolling script -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<!-- //scrolling script -->

<style>
    #hidden_div {
        display: none;
    }

    .Calculator-Content {
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        background: #fff;
        border: #e7e7e7 1px solid;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
    }

        .Calculator-Content h2 {
            color: #0593FC;
            font-weight: bold;
        }

        .Calculator-Content h3 {
            padding: 10px;
            padding-bottom: 25px;
        }

        .Calculator-Content p, li {
            font-size: 15px;
        }

        .Calculator-Content ul {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }

        .Calculator-Content h4 {
            font-size: 20px;
            text-align: center;
            padding-top: 15px;
        }

        .Calculator-Content p2 {
            font-weight: bold;
            color: #808080;
        }

    .TOC {
        padding-right: 0px;
        padding-left: 0px;
    }


    .OutputChart, .ApplianceChart, .Annotation {
        border: none;
    }


    .OutputDescription table, td, th {
        padding: 4px 6px;
        border: 1px solid #ddd;
        text-align: center;
    }

    .OutputDescription h3, .CarbonDescription h3, .ApplianceUsage h3 {
        border-bottom: #e7e7e7 1px solid;
    }

    .result {
        padding: 30px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #ffd800;
    }
</style>



