@model FIT5120___VicEnerG.ViewModels.CalculatorViewModel
@{
    ViewBag.Title = "CalculateOutput";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Solar Output Calculator</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Postcode, new { HtmlAttributes = new { @class = "form-control", @Value = Model.Postcode } })
                @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberPanels, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NumberPanels, new { HtmlAttributes = new { @class = "form-control", @Value = Model.NumberPanels } })
                @Html.ValidationMessageFor(model => model.NumberPanels, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md0offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Calculate" />
            </div>
        </div>
    </div>
}

@{
    if (Model.Station != null)
    {
        <p> The monthly elecrticity outputs for postcode @Model.Postcode with @Model.NumberPanels solar panel(s) are list below: </p>
        <table>
            <tr>
                <th></th>
                @foreach (string Output in ViewBag.Month)
                {
                    <th>@Output</th>
                }
            </tr>
            <tr>
                <td>Electricity Output(kWh)</td>
                @foreach (double Output in Model.OutputList)
                {
                    <td>@Output</td>
                }
            </tr>
        </table>

        <p> The annual output of @Model.Postcode is @Model.AnnualOutput  kwh</p>
        <p> The radiation data is collected from the station called @Model.Station.stationName with Station ID @Model.Station.stationNumber</p>
        <p> The Solar output is followed by the formular:  E = A * r * H * PR</p>
        <li>E = Energy (kWh)</li>
        <li>A = Total solar panel Area (In this calculator is 1.6m2)</li>
        <li>r= Solar panel yield or efficiency(In this calcualtor is 15.6%) </li>
        <li>H = solar radiation data collected from stations (shadings not included)</li>
        <li>PR = Performance ratio, coefficient for losses (In this calcualtor is 75%)</li>

        <div class="panel panel-danger">
            <div class="panel-body">
                <canvas id="bar_chart" height="200"></canvas>
            </div>
        </div>

        <div>
        <p>The Annual electricity output is equivalent to @Model.CO2 kg/kWh of Carbon Dioxide equivalent Emissions</p>
        <p>*According to the department of Environment, Land and water of Australia. The co-efficient between electricity and CO2 is: </p>
        <li>1.13kg CO2-e/kWh</li>
        </div>
    }
}


@section scripts{
    @Scripts.Render("~/bundles/chartjs")
    <script>
        $(document).ready(function () {
            initbarchart();
        });

        function initbarchart() {

            var MonthArray = @Html.Raw(Json.Encode(ViewBag.Month));
            var Output = @Html.Raw(Json.Encode(Model.OutputList));

            var ctx = $("#bar_chart");
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: MonthArray,
                    datasets: [{
                        label: "Electricity Output",
                        data: Output,
                        backgroundColor: "rgba(127,255,0,.5)",
                        borderColor: "rgb(127,255,0)",
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Electricity Output (kWh)"
                    },
                    legend:
                    {
                        display: false,
                    }
                }
            });
        }
    </script>
}




