@model FIT5120___VicEnerG.ViewModels.CalculatorViewModel
@{
    ViewBag.Title = "CalculateOutput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CalculateOutput</h2>

<form class="form-horizontal" method="post">
    <div class="control-group">
        <label class="control-label">Postcode:</label>
        <div class="controls">
        <input id="Postcode" name="Postcode" />

        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Number of panels:</label>
        <div class="controls">
        <input id="NumberPanels" name="NumberPanels" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Get" />
        </div>
    </div>
</form>

@{
    if (Model.OutputList.Any())
    {
        <p> The monthly elecrticity outputs for postcode @Model.Postcode with @Model.NumberPanels solar panel(s) are list below: </p>
        <table>
            <tr>
                <th></th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
            </tr>
            <tr>
                <td>Electricity Output(kWh)</td>
                @foreach (double Output in Model.OutputList)
                {
                    <td>@Output</td>
                }
            </tr>
        </table>

        <p> The annual output of @Model.Postcode is @Model.AnnualOutput  kwh</p>
        <p> The data is collect by the station call @Model.Station.stationName with Station Id @Model.Station.stationNumber</p>

    }
}




