@model FIT5120___VicEnerG.ViewModels.CalculatorViewModel
@{
    ViewBag.Title = "CalculateOutput";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!--FlexSlider-->
<link rel="stylesheet" href="~/AboutRes/css/flexslider.css" type="text/css" media="screen" />
<!--//FlexSlider-->

<link href="~/AboutRes/css/lsb.css" rel="stylesheet" type="text/css"><!-- gallery -->
<!-- custom css theme files -->
<link rel="stylesheet" href="~/AboutRes/css/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" href="~/AboutRes/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/AboutRes/css/style.css" type="text/css" media="all">
<!-- //custom css theme files -->
<!-- google fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->
<!-- banner -->
<div class="w3l-banner">
    <div class="wthree-dot">
        <!-- nav -->
        <div class="header w3layouts">
            <div class="container-fluid">
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="index.html"><span>Solar</span> Energy</a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav>
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="~/Home/Index">Home</a></li>
                                <li><a href="~/Home/About">Introduction</a></li>
                                <li><a href="~/Calculator/CalculateOutput">Calculator</a></li>
                                <li><a href="#team" class="scroll">Team</a></li>
                                <li><a href="#gallery" class="scroll">Projects</a></li>
                                <li><a href="#contact" class="scroll">Contact</a></li>
                            </ul>

                        </nav>
                        <ul class="top-links social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //nav -->
        <!-- //Header -->
        <div class="container">
            <div class="flexslider-info">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="w3l-info">
                                    <h2>Welcome to Solar Energy</h2>
                                    <p>
                                        Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id,
                                        tempor cursus lectus. Vestibulum eu ligula et pharetra efficitur. Maecenas eleifend.
                                    </p>
                                    <ul>
                                        <li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal">Find More</a></li>
                                        <li><a href="#contact" class="scroll w3l_contact">Contact Us</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>Welcome to Solar Energy</h3>
                                    <p>
                                        Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id,
                                        tempor cursus lectus. Vestibulum eu ligula et pharetra efficitur. Maecenas eleifend.
                                    </p>
                                    <ul>
                                        <li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal">Find More</a></li>
                                        <li><a href="#contact" class="scroll w3l_contact">Contact Us</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>Welcome to Solar Energy</h3>
                                    <p>
                                        Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id,
                                        tempor cursus lectus. Vestibulum eu ligula et pharetra efficitur. Maecenas eleifend.
                                    </p>
                                    <ul>
                                        <li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal">Find More</a></li>
                                        <li><a href="#contact" class="scroll w3l_contact">Contact Us</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Solar Output Calculator</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Postcode, new { HtmlAttributes = new { @class = "form-control", @Value = Model.Postcode } })
                @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberPanels, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NumberPanels, new { HtmlAttributes = new { @class = "form-control", @Value = Model.NumberPanels } })
                @Html.ValidationMessageFor(model => model.NumberPanels, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md0offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Calculate" />
            </div>
        </div>
    </div>
}

@{
    if (Model.Station != null)
    {
        <p> The monthly elecrticity outputs for postcode @Model.Postcode with @Model.NumberPanels solar panel(s) are list below: </p>
        <table>
            <tr>
                <th></th>
                @foreach (string Output in ViewBag.Month)
                {
                    <th>@Output</th>
                }
            </tr>
            <tr>
                <td>Electricity Output(kWh)</td>
                @foreach (double Output in Model.OutputList)
                {
                    <td>@Output</td>
                }
            </tr>
        </table>

        <p> The annual output of @Model.Postcode is @Model.AnnualOutput  kwh</p>
        <p> The radiation data is collected from the station called @Model.Station.stationName with Station ID @Model.Station.stationNumber</p>
        <p> The Solar output is followed by the formular:  E = A * r * H * PR</p>
        <li>E = Energy (kWh)</li>
        <li>A = Total solar panel Area (In this calculator is 1.6m2)</li>
        <li>r= Solar panel yield or efficiency(In this calcualtor is 15.6%) </li>
        <li>H = solar radiation data collected from stations (shadings not included)</li>
        <li>PR = Performance ratio, coefficient for losses (In this calcualtor is 75%)</li>

        <div class="panel panel-danger">
            <div class="panel-body">
                <canvas id="bar_chart" height="200"></canvas>
            </div>
        </div>

        <div>
            <p>The Annual electricity output is equivalent to @Model.CO2 kg/kWh of Carbon Dioxide equivalent Emissions</p>
            <p>*According to the department of Environment, Land and water of Australia. The co-efficient between electricity and CO2 is: </p>
            <li>1.13kg CO2-e/kWh</li>
        </div>
    }
}

<script type="text/javascript" src="~/AboutRes/js/jquery-2.1.4.min.js"></script>
@section scripts{
    @Scripts.Render("~/bundles/chartjs")
    <script>
        $(document).ready(function () {
            initbarchart();
        });

        function initbarchart() {

            var MonthArray = @Html.Raw(Json.Encode(ViewBag.Month));
            var Output = @Html.Raw(Json.Encode(Model.OutputList));

            var ctx = $("#bar_chart");
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: MonthArray,
                    datasets: [{
                        label: "Electricity Output",
                        data: Output,
                        backgroundColor: "rgba(127,255,0,.5)",
                        borderColor: "rgb(127,255,0)",
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Electricity Output (kWh)"
                    },
                    legend:
                    {
                        display: false,
                    }
                }
            });
        }
    </script>
}

<!-- Default-JavaScript-File -->

<script type="text/javascript" src="~/AboutRes/js/bootstrap.min.js"></script>
<!-- //Default-JavaScript-File -->
<!--Start-slider-script-->
<script defer src="~/AboutRes/js/jquery.flexisel.js"></script>
<script type="text/javascript">

    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!--End-slider-script-->
<!-- testimonials required-js-files-->
<link href="~/AboutRes/css/owl.carousel.css" rel="stylesheet">
<script src="~/AboutRes/js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            items: 1,
            lazyLoad: true,
            autoPlay: true,
            navigation: false,
            navigationText: false,
            pagination: true,
        });
    });
</script>
<!--// testimonials required-js-files-->
<!-- flexisel -->
<script type="text/javascript">
    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 2
                }
            }
        });

    });
</script>
<script type="text/javascript" src="~/AboutRes/js/jquery.flexslider.js"></script>
<!-- //flexisel -->
<!-- gallery-pop-up -->
<script src="~/AboutRes/js/lsb.min.js"></script>
<script>
    $(window).load(function () {
        $.fn.lightspeedBox();
    });
</script>
<!-- //gallery-pop-up -->
<!-- smooth scrolling -->
<script src="~/AboutRes/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="~/AboutRes/js/move-top.js"></script>
<script type="text/javascript" src="~/AboutRes/js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->
<!-- scrolling script -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<!-- //scrolling script -->

<style>
    .copyrights {
        text-indent: -9999px;
        height: 0;
        line-height: 0;
        font-size: 0;
        overflow: hidden;
    }
</style>



