<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VicEnerG</title>
    <link rel="shortcut icon" type="image/ico" href="~/images/logo/logo_icon.jpg">
    @Scripts.Render("~/Pages_Resource/js/pagejs")
    @Scripts.Render("~/bundles/chartjs")
    @Styles.Render("~/Pages_Resource/css/pagecss")
    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //google fonts -->
</head>
@{
    if (ViewBag.Title == "Home")
    {
        ViewBag.BodyClass = "home-body";
    }
    else {
        ViewBag.BodyClass = "page-body";
    }

}
    <body class=@ViewBag.BodyClass>
        <style>
            .active1 a {
                color: #4dd677 !important;
                font-weight: bold;
            }
            .active2 button {
                color: #4dd677 !important;
                font-weight: bold;
            }
        </style>
        <div class="w3l-banner">
            <div class="wthree-dot">
                <!-- nav -->
                <div class="header w3layouts">
                    <div class="container-fluid">
                        <nav class="navbar navbar-default navbar-fixed-top">
                            <div class="navbar-header navbar-left">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <img id="project-logo" src="~/images/logo/logo_transparent_background.png" width="100" height="80" />
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                                <nav id="navigation">
                                    <ul class="nav navbar-nav navA">
                                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active1" : "")">
                                            @*<a href="~/Home/Index">Home</a>*@
                                            @Html.ActionLink("Home", "Index", "Home")
                                        </li>
                                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "CalculateOutput" || ViewContext.RouteData.Values["Action"].ToString() == "CalculateCarbon"? "active2" : "")">
                                            <ul class="dropdown">
                                                <button class="dropbtn" style="margin-top: 1px;">
                                                    CALCULATOR
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                <div class="dropdown-content">
                                                    @Html.ActionLink("SOLAR OUTPUT", "CalculateOutput", "Calculator")
                                                    @Html.ActionLink("CARBON FOOTPRINT", "CalculateCarbon", "Carbon")
                                                    @Html.ActionLink("WATER RECYCLING", "CalculateWater", "Water")
                                                    @*<a href="~/Calculator/CalculateOutput">SOLAR OUTPUT</a>
                                                    <a href="~/Carbon/CalculateCarbon">CARBON FOOTPRINT</a>*@
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "SolarInfo" ? "active1" : "")">
                                        @Html.ActionLink("Solar Information", "SolarInfo", "Home")
                                        @*<a class="navA" href="~/Home/SolarInfo">Solar Information</a>*@</li>
                                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "SolarRebates" ? "active1" : "")">
                                            @Html.ActionLink("Solar Rebates", "SolarRebates", "Home")
                                            @*<a href="~/Home/SolarRebates">Solar Rebates</a>*@
                                        </li>
                                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "CarbonInfo" ? "active1" : "")">
                                            @Html.ActionLink("Carbon Information", "CarbonInfo", "Home")
                                            @*<a href="~/Home/CarbonInfo">Carbon Information</a>*@
                                        </li>
                                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AboutUs" ? "active1" : "")">
                                            @Html.ActionLink("About Us", "AboutUs", "Home")
                                            @*<a href="~/Home/AboutUs">About Us</a>*@
                                        </li>
                                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Disclaimer" ? "active1" : "")">
                                            @Html.ActionLink("Disclaimer", "Disclaimer", "Home")
                                            @*<a href="~/Home/Disclaimer">Disclaimer</a>*@
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- //nav -->
            </div>
        </div>



            <div id="page-container">
                <div id="content-wrap">
                    @RenderBody()
                    <div class="push"></div>
                    <footer id="footer">
                        <div class="wthree_copy_right" id="wthree_copy_right">
                            <div class="container">
                                <p>Copyright &copy; @DateTime.Now.Year. Team VicEnerG Australia</p>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <!-- smooth scrolling-bottom-to-top -->
            <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

            @RenderSection("scripts", required: false)
        </body>
        
</html>
